@model IEnumerable<FinalProject.DATA.EF.Application>

@{
    ViewBag.Title = "Index";
}

<h2>Applications</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    }
    @if (User.IsInRole("Manager"))
    {
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    }
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenPosition.Location.StoreNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ManagerNotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResumeFileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationStatus.StatusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenPosition.OpenPositionID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserDetail.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserDetail.LastName)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpenPosition.Location.StoreNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManagerNotes)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.ResumeFileName)*@
                    <a href="~/Content/resumes/@item.ResumeFileName" target="_blank">Click to View Document</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationStatus.StatusName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpenPosition.OpenPositionID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDetail.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDetail.LastName)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", "Applications", new { id = item.ApplicationID }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Details", "Details", "Applications", new { id = item.ApplicationID }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Delete", "Delete", "Applications", new { id = item.ApplicationID }, new { @class = "btn btn-warning" })
                    }
                    @if (User.IsInRole("Manager"))
                    {
                        @Html.ActionLink("Edit", "Edit", "Applications", new { id = item.ApplicationID }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Details", "Details", "Applications", new { id = item.ApplicationID }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Delete", "Delete", "Applications", new { id = item.ApplicationID }, new { @class = "btn btn-warning" })
                    }
                </td>
            </tr>
        }
    </tbody>

</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}
