@model IEnumerable<FinalProject.DATA.EF.Position>

@{
    ViewBag.Title = "Index";
}

<h2>Positions</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobDescription)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobDescription)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", "Positions", new { id = item.PositionID }, new { @class = "btn btn-success" })
                        @Html.ActionLink("Details", "Details", "Positions", new { id = item.PositionID }, new { @class = "btn btn-info" })
                        @Html.ActionLink("Delete", "Delete", "Positions", new { id = item.PositionID }, new { @class = "btn btn-warning" })
                    }
                </td>
            </tr>
        }
    </tbody>

</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}