@model IEnumerable<FinalProject.DATA.EF.Location>

@{
    ViewBag.Title = "Index";
}

<h2>Locations</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StoreNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserDetail.FirstName)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StoreNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserDetail.FirstName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", null, new { id = item.LocationID, @class = "btn btn-success" }) |
                    @Html.ActionLink("Details", "Details", null, new { id = item.LocationID, @class = "btn btn-info" }) |
                    @Html.ActionLink("Delete", "Delete", null, new { id = item.LocationID, @class = "btn btn-warning" })
                </td>
            </tr>
        }
    </tbody>

</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}