@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "Index";
}

<h2>Admin Roles</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>

            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "RolesAdmin", new { id = item.Id }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Details", "Details", "RolesAdmin", new { id = item.Id }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Delete", "Delete", "RolesAdmin", new { id = item.Id }, new { @class = "btn btn-warning" })
                </td>
            </tr>
        }
    </tbody>

</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}